/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin-top: 200px;
    padding: 0;
    background-color: #fd7e14;
}

.container {
    max-width: 500px;
    margin: 50px 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1c2c46;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #00E8F8;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 3px solid #fd7e14;
    box-shadow: 3px #fd7e14; 
}

textarea {
    resize: vertical;
}


.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fd7e14;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
}

.btn-submit:hover {
    background-color: #00E8F8;
}

.budget-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 8" width="14" height="8"><polygon points="0,0 14,0 7,8"/></svg>'); */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 6px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

.budget-select:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #fd7e14;
    border-color: #fd7e14;
}

.budget-select option {
    padding: 5px;
}

.budget-select option:checked {
    background-color: #fd7e14;
    color: #fff;
}
